<div layout="column" layout-align="center center" layout-fill layout-padding layout-margin flex>
  <md-card class="md-card-z3" layout-fill flex>
    <md-toolbar class="md-hue-1">
      <div class="md-toolbar-tools">
        <span>Manage Your Account</span>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-card-content>


    <div layout="column" layout-align="center center" layout-padding layout-margin flex>
      <form name="accountMngForm" layout-fill role="form" novalidate flex>
        <md-input-container flex>
          <label for="firstName">First Name:</label>
          <input
          id="firstName"
          type="text"
          class="chad-form-control"
          ng-model="user.firstName"
          required
          ng-change="updateUser(user)">
        </md-input-container>

        <md-input-container flex>
          <label for="lastName">Last Name:</label>
          <input
          id="lastName"
          type="text"
          class="chad-form-control"
          ng-change="updateUser(user)"
          required
          ng-model="user.lastName">
        </md-input-container>

        <md-input-container flex>
          <label for="emailField">Email:</label>
          <input
          id="emailField"
          type="email"
          class="chad-form-control"
          ng-change="updateUser(user)"
          required
          ng-model="user.password.email">
        </md-input-container>

        <md-select ng-model="user.team" placeholder="choose your team">
          <md-option ng-value="team.name" ng-repeat="team in teamList">
            {{team.name}}
          </md-option>
        </md-select>

        <md-button ng-click="updateUser(user)" ng-disabled="accountMngForm.$invalid" class="md-primary md-hue-3 md-raised chad-form-control" flex>
        Update Account
        </md-button>
      </form>
    </div>
  </md-card-content>
  </md-card>
</div>
