<div layout="row" layout-align="start start" >
   <div flex layout-fill layout-padding layout-margin>
     <span class="form-label" flex>Create New Task</span>
     <form name="newTaskForm" layout="row" layout-sm="column" role="form" novalidate flex layout-padding layout-margin>
       <md-input-container flex>
         <label for="taskname">Title:</label>
         <input
            id="taskname"
            type="text"
            class="chad-form-control"
            required
            ng-model="task.title"
            flex>
        </md-input-container>

          <md-select ng-model="task.assignee" placeholder="Choose Assignee" flex required>
            <md-option ng-value="user" ng-repeat="user in userList | teamFilter:currentUser.team:taskType | nameFilter">
              {{user.fullname}}
            </md-option>
          </md-select>

        <md-button class="md-fab md-accent md-hue-1" ng-click="addTask(task)" ng-disabled="newTaskForm.$invalid" style="margin-top:15px">
          <i class="fa fa-plus fa-2x"></i>
          <md-tooltip>
            Add Task
          </md-tooltip>
        </md-button>
    </form>
  </div>
</div>
