<div md-padding layout-margin>
  <md-card class="md-card-z1" flex>
    <md-card-content>
    <div layout="row" layout-fill layout-align="space-between" layout-padding layout-margin>

      <h2 flex>{{taskType}}</h2>

      <md-button class="md-fab" aria-label="newTask" ng-click="showForm()">
        <i ng-class="{'fa fa-caret-square-o-down fa-2x': !formVisible, 'fa fa-caret-square-o-up fa-2x': formVisible}"></i>
        <md-tooltip ng-if="!formVisible">
          Create New Task
        </md-tooltip>
        <md-tooltip ng-if="formVisible">
          Hide New Task Form
        </md-tooltip>
      </md-button>

    </div>

    <div layout="row"  layout-fill>
      <md-radio-group layout="row" ng-model="order.by">
        <md-radio-button ng-click="sort('title')" value="title">
          Title
          <md-tooltip>
            Order By Title
          </md-tooltip>
        </md-radio-button>
        <md-radio-button ng-click="sort('created_at')" value="created_at">
          Created
          <md-tooltip>
            Order By Created At
          </md-tooltip>
        </md-radio-button>
        <md-radio-button ng-click="sort('assignee')" value="assignee">
          Assignee
          <md-tooltip>
            Order By Assignee
          </md-tooltip>
        </md-radio-button>
      </md-radio-group>

      <md-checkbox ng-model="toggleFilter" aria-label="task Switch" ng-true-value=" 'Everyone' " ng-false-value=" 'Me' ">
        {{ toggleFilter }}
      </md-checkbox>
    </div>

    <div ng-if="formVisible" layout="row" class="slide-down" ng-class="animation" flex>
      <new-task-form
      task-list="taskList"
      user-list="userList"
      current-user="currentUser"
      task-type="taskType">
      </new-task-form>
    </div>


    <md-list layout="row" layout-padding layout-wrap>
      <md-item ng-repeat="(id, task) in taskList
      | taskCategoryFilter:taskType
      | taskStatus
      | sortTask:order.by:order.reverse
      | myTasks:toggleFilter:currentUser
      | starred"
      layout="row"
      layout-fill
      flex-sm="100"
      flex-md="100"
      flex-lg="50"
      flex-gt-lg="33">
        <md-whiteframe class="md-whiteframe-z3" layout="row" layout-margin flex color-code-task task="task">

          <div layout="column" layout-align="start start" layout-margin flex >
            <div flex>
              <p class="task-title"><strong>Title:</strong> {{task.title}}</p>

              <p ng-repeat="(id, assignee) in task.assignee | nameFilter">
              <strong>Assignee:</strong> {{assignee.fullname}}
              </p>
            </div>
          </div>

          <div layout="column" layout-align="start end" layout-margin flex>

            <div layout="row" layout-align="end start" layout-margin class="">
              <i class="fa fa-check fa-3x success-check" ng-click="completed(task)" flex>
                <md-tooltip>
                  Set Task Completed
                </md-tooltip>
              </i>
              <i ng-class="{'fa fa-star-o fa-3x': !task.important, 'fa fa-star fa-3x important-task': task.important}" ng-click="markImportant(task)" flex>
                <md-tooltip>
                  Mark Important
                </md-tooltip>
              </i>
              <i class="fa fa-clock-o fa-3x" ng-click="start(task)" flex>
                <md-tooltip>
                  Set Task Development
                </md-tooltip>
              </i>
              <i class="fa fa-times fa-3x deletion-red" ng-click="destroy(task)" flex>
                <md-tooltip>
                  Destroy Task
                </md-tooltip>
              </i>
            </div>

            <div layout="column" layout-align="end start" layout-margin>
              <p flex><strong>Created:</strong> <span task-duration task="task.created_at"></span></p>
              <p ng-if="task.status" flex><strong>Status:</strong> {{task.status}}</p>
            </div>
          </div>

        </md-whiteframe>
      </md-item>
    </md-list>
  </md-card-content>
  </md-card>
</div>
